* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav a {
    color: white;
    font-size: 32px;
    text-transform: uppercase;
}

.container {
    border-left: 2px solid white;
    border-right: 2px solid white;
    margin: 0 50px;
}

.nav {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 60px;
}

.nav {
    border-bottom: 2px solid white;
}

.banner {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 120px;
}

.button {
    text-decoration: none;
    color: inherit;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.407), rgba(255, 0, 0, 0.44));
    padding: 20px;
    display: inline-block;
    margin-bottom: 40px;
}

header {
    background-image: url(Assets/Illustrations/Bathome1.png);
    background-size: cover;
}

.banner p {
    padding-bottom: 20px;
}

.banner h1 {
    padding-bottom: 20px;
}

.group-button {
    padding-bottom: 120px;
}